{%- assign swiperId = "swiper-container-" | append: section.id -%}

{%- capture swiper_style -%}
{%- if section.settings.background_image != blank -%}
  background-image: url({{ section.settings.background_image | img_url }});
{%- endif -%}
{%- if section.settings.background_color != blank -%}
  background-color: {{ section.settings.background_color }};
{%- endif -%}
{%- if section.settings.height != blank -%}
  height: {{ section.settings.height }}px;
{%- endif -%}
{%- endcapture -%}
<style>
  .announcement-bar.swiper-slide {
    text-align: center;
    padding: 13px 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-container-vertical {
/*  线性渐变——由上到下 调百分比 */
/*   background: linear-gradient(to bottom left,rgb(255,244,148),rgba(255,0,0,0) 50%); */
/* 由下往上 */
/*    background: linear-gradient(to bottom, rgb(255,251,0)); */
/* background: linear-gradient(to bottom,#fff 0%,#fdea02 30%,#000 300%); */
background: linear-gradient(to bottom,#fff100 -150%,#000 100%,#fff 150%);
/* background: linear-gradient(to bottom,#fff -150%,#000 10%,#fff100 200%); */
}
  @media screen and (max-width:600px) {
    #{{ swiperId }} .announcement-bar__message {
    font-size:1.15rem;
    color: {{ section.settings.font_color }};
   }
  }

  @media screen and (min-width:900px) {
    #{{ swiperId }} .announcement-bar__message {
    font-size: {{ section.settings.font_size }}px;
    color: {{ section.settings.font_color }};
   }
  }
  
  #{{ swiperId }} .announcement-bar__message:hover {
    color: #fff;
    font-weight:600;
  }
</style>

<div class="swiper-container swiper-container-vertical" id="{{ swiperId }}" 
  style="{{ swiper_style }};background-repeat: no-repeat;background-size: 100% 100%;position:relative;top:0; z-index:99;width:100%"
  ">
  
  <div class="swiper-wrapper">
    {%- for block in section.blocks -%}
    <div class="announcement-bar swiper-slide" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
      {%- if block.settings.text != blank -%}
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
        {%- endif -%}
            <p class="announcement-bar__message font-fa";>
              {{ block.settings.text }}
            </p>
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      {%- endif -%}
    </div>
    {%- endfor -%}
  </div>
</div>

<script>
  var mySwiper = new Swiper('#{{ swiperId }}', {
      direction: "{{ section.settings.direction }}", // 水平切换选项
      loop: {{ section.settings.loop }}, // 循环模式选项
      autoplayDisableOnInteraction : false,
      autoplay: {{ section.settings.autoplay }} * 1000,
      height: {{ section.settings.height }}
  })
</script>
{% schema %}
{
  "name": "公告栏plus",
  "max_blocks": 12,
  "settings": [
    {
     "type": "image_picker",
     "id": "background_image",
     "label": "背景图"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "背景色"
    },
    {
      "type": "range",
      "id": "height",
      "label": "公告栏高度",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "公告字体大小",
      "min": 12,
      "max": 50,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "公告字体颜色",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "是否轮播",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay",
      "label": "轮播间隔",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 1,
      "unit": "秒"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "轮播方向",
      "options": [
        {
          "label": "横向",
          "value": "horizontal"
        },
        {
          "label": "纵向",
          "value": "vertical"
        }
      ],
     "default": "vertical"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "公告",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "宣传文案"
        },
        {
          "type": "url",
          "id": "link",
          "label": "宣传链接"
        },
        {
          "type": "checkbox",
          "id": "countdown_on",
          "label": "开启倒计时"
        },
        {
          "type": "text",
          "id": "countdown_end",
          "label": "截止时间"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "公告栏plus"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}